@{
    ViewData["Title"] = "Acerca";
}

<h1>Acerca del Proyecto</h1>

<hr />

<h3>Trabajo Práctico Integrador - Programación III</h3>

<p>
    Sistema de Gestión de Despacho de Mercadería desarrollado
    con ASP.NET Core MVC y Entity Framework Core.
</p>

<h4>Integrantes</h4>

<ul>
    <li>Agostina Rollan</li>
    <li>María de los Angeles Michlig</li>
</ul>

<hr />

<h4>Modelo de Clases</h4>

<img src="~/img/modelo-clases.png"
     class="img-fluid"
     alt="Modelo de Clases" />

<hr />

<h4>Diagrama Entidad Relación</h4>

<img src="~/img/der.png"
     class="img-fluid"
     alt="DER" />
