<div class="portada">

    <div class="contenido-portada">

        <h1>Trabajo Práctico Integrador</h1>

        <h2>Gestor de Despacho de Mercadería</h2>

        <p>Programación III - ASP.NET Core MVC</p>              

    </div>

</div>
